.foodList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.children {
  background-color: rgb(245, 245, 245);
  text-transform: uppercase;
  line-height: 1.25em;
  max-width: 300px;
  text-align: center;
  align-content: center;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}

.children h1 {
  font-size: 1.25em;
}

.children p {
  font-size: 0.75em;
  line-height: 1em;
}
